/*
  Main Stylesheet
*/
* {
  box-sizing: border-box;
}

#app {
  background: rgb(245, 245, 245);
  width: 550px;
  height: 500px;
  font-family: helvetica;
  margin: 15px;
  align-content: center;
}

.title {
  color: rgb(232, 213, 213);
  font-size: 40px;
  text-align: center;

}

.todo__form {
  align-self: center;
  border-bottom: 1px solid gray;
  box-shadow: 3px 3px 3px 3px rgb(136, 136, 136);
  background-color: white;
  display: inline-block;;
  margin-left: 20px;
  margin-top: 20px;
}

.todo__text {
  border: none;
  padding: 10px;
  outline: none;
  width: 500px;
}

.todo__submit {
  display: none;
}

.todo__items {
  font-size: 25px;
  list-style: none;
  margin: 5px;
  padding: 10px;
}

.todo__listText {
  height: 40px;
  margin: 5px;
  display: inline;
}

.checkOff {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  overflow: hidden;
  width: 25px;
}

.checkOff:hover {
  cursor: pointer;
}

.completed {
  background-color: rgb(129, 211, 100);
}

.selected {
  background-color: rgb(246, 246, 246);
  text-decoration: line-through;
}

.todoCompleted .checkOff {
  border: 0;
  background-color: rgb(56, 200, 115);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  transition: background-color .6s;
  width: 20px;
}

.footer {
  background-color: rgb(245, 245, 245);
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  text-align: left;
  width: 500px;
}
